{% extends 'base.html.twig' %}

{% block title %}Networks index{% endblock %}

{% block body %}
    <h1>Networks index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label Fr</th>
                <th>Label Ar</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for network in networks %}
            <tr>
                <td>{{ network.id }}</td>
                <td>{{ network.labelFr }}</td>
                <td>{{ network.labelAr }}</td>
                <td>
                    <a href="{{ path('networks_show', {'id': network.id}) }}">show</a>
                    <a href="{{ path('networks_edit', {'id': network.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('networks_new') }}">Create new</a>
{% endblock %}
