{% extends 'base.html.twig' %}

{% block title %}TypeLine index{% endblock %}

{% block body %}
    <h1>TypeLine index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label_ar</th>
                <th>Label_fr</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_line in type_lines %}
            <tr>
                <td>{{ type_line.id }}</td>
                <td>{{ type_line.labelAr }}</td>
                <td>{{ type_line.labelFr }}</td>
                <td>
                    <a href="{{ path('type_line_show', {'id': type_line.id}) }}">show</a>
                    <a href="{{ path('type_line_edit', {'id': type_line.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_line_new') }}">Create new</a>
{% endblock %}
