{% extends 'base.html.twig' %}

{% block title %}TourProgram index{% endblock %}

{% block body %}
    <h1>TourProgram index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Amplitude</th>
                <th>DriverPaidHours</th>
                <th>ReceiverPaidHours</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tour_program in tour_programs %}
            <tr>
                <td>{{ tour_program.id }}</td>
                <td>{{ tour_program.code }}</td>
                <td>{{ tour_program.amplitude ? tour_program.amplitude|date('H:i:s') : '' }}</td>
                <td>{{ tour_program.driverPaidHours }}</td>
                <td>{{ tour_program.receiverPaidHours }}</td>
                <td>
                    <a href="{{ path('tour_program_show', {'id': tour_program.id}) }}">show</a>
                    <a href="{{ path('tour_program_edit', {'id': tour_program.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tour_program_new') }}">Create new</a>
{% endblock %}
