{% extends 'base.html.twig' %}

{% block title %}Station{% endblock %}

{% block body %}
    <h1>Station</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ station.id }}</td>
            </tr>
            <tr>
                <th>Label_fr</th>
                <td>{{ station.labelFr }}</td>
            </tr>
            <tr>
                <th>Label_ar</th>
                <td>{{ station.labelAr }}</td>
            </tr>
            <tr>
                <th>Alias</th>
                <td>{{ station.alias }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('station_index') }}">back to list</a>

    <a href="{{ path('station_edit', {'id': station.id}) }}">edit</a>

    {{ include('station/_delete_form.html.twig') }}
{% endblock %}
